<ol class="breadcrumb">
  <li class="breadcrumb-item active mr-auto">Questions</li>
</ol>
<%= link_to "Add New Question", new_question_path %>
<div class="card-columns">
  <% @questions.each do |question| %>
    <div class="card card mb-4">
      <div class="card-body">
        <h5 class="card-title"><%= link_to question.question, question %></h5>
        <p class="small">Question added by: <%= question.user.team_name %></p>
        <% if question.is_public %>
          <b>Public</b>
        <% end %>
      </div>
      <% if question.user == current_user %>
        <div class="card-footer">
          <%= link_to "Edit", edit_question_path(question) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= render "partials/import_objects", path: import_questions_path %>
