    <h2 class="text-info"><%= @game.name %></h2>
  <div class="card shadow">
    <div class="card-header">
      <b>Current Points: <%= @game_player.total_points %></b>
    </div>
    <div class="card-body">
      <% unless @game.game_state == GameState::CREATED || @game.game_state == GameState::FINISHED %>
        <small>Question #<%= @game.question_number %> of <%= @game.number_of_questions %></small>
      <% end %>
      <% if @game.game_state == GameState::CREATED %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="font-weight-bold">Please Wait</p>
            <p class="font-weight-normal">Your host will start the game directly...</p>
          </li>
        </ul>
      <% end %>
      <% if @game.game_state == GameState::QUESTION_PLAY %>
        <div>
          <% if @game_current_answer %>
            <h2 class="text-success">Your Answer Has Been Submitted. Good Luck! The Quizmaster will reveal the answer soon.</h2>
          <% else %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h2>Question</h2>
                <p class="text-primary"><%= @game.current_game_question.question.question %></p>
              </li>
              <li class="list-group-item">
                <%= form_with url: episodes_player_board_episode_path(@game), method: :patch, class: "form-inline" do |form| %>
                  <%= form.hidden_field :game_player_id, value: @game_player.id %>
                  <%= form.hidden_field :game_question_id, value: @game.current_game_question_id %>
                  <%= form.number_field :answer, class: "form-control form-control-lg", required: true %>
                  <button class="btn btn-primary btn-lg" type="submit">Answer</button>        
                <% end %>
              </li>
                
            </ul>
          <% end %>
        </div>
      <% end %>
      <% if @game.game_state == GameState::QUESTION_ANSWER || @game.game_state == GameState::QUESTION_BONUS || @game.game_state == GameState::QUESTION_TABLE  %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="font-weight-bold">Answer and Bonus Round</p>
            <p class="font-weight-normal">Checking Answer and playing the bonus round</p>
          </li>
        </ul>
      <% end %>   
      <% if @game.game_state == GameState::FINISHED  %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="font-weight-bold">Game Over!</p>
            <p class="font-weight-normal">Thanks for Playing!</p>
            <% index = @all_players.index { |ap| ap.user.id == current_user.id } + 1 %>
            <% if @all_players[0].user_id == current_user.id %>
              <h3 class="text-success">No time for losers cause YOU are the champion! </h3>
            <% elsif index ==  @all_players.count %>
              <h3 class="text-danger">(Remember it is the taking part that counts!)</h3 >
            <% else %>
              <h3 class="text-info">It's mid table respectability for you!</h3 >              
            <% end %>              
            <p class="font-weight-normal">You finished <%= index %> of <%= @all_players.count %></p>
          </li>
        </ul>
        <%= link_to "Finish", root_path, class: "btn btn-primary"%>
      <% end %>            
    </div>
    <div class="card-footer">
      <%= link_to "Refresh", episodes_player_board_episode_path(@game.id), class: "btn btn-success"%>
    </div>
  </div>

<div id="<%= "game_#{@game.id}"%>"></div>