  <%= render 'shared/play_header', game: @game %>
<div class="row">
  <div class="col-lg-6">
    <div class="card shadow p-2">
      <div class="card-body">
        <h1 style="text-align:center;background-color:#f1f1f1;">This Round</h1>
        <table class="table">
          <tr>
            <th>#</th>
            <th>Team Name</th>
            <th>Question Points</th>
            <th>Bonus Points</th>
            <th>Total Points</th>
          </tr>
          <% @game_player_question_answers.each_with_index do |gpqa, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <th><%= gpqa.game_player.user.team_name %></th>
              <td class="text-secondary"><%= gpqa.points %></td>
              <td class="text-info"><%=  gpqa.bonus_points %></td>
              <td class="text-primary"><%=  gpqa.points + (gpqa.bonus_points || 0) %></td>
            </tr>
          <% end %>
        </table>
        <br>
        <%= link_to "See Current Leaderboard", episodes_host_leaderboard_episode_path(@game.id), class: "btn btn-success"%>
      </div>
    </div>
  </div>
</div>
