<div data-controller="game-host">
  <div class="card shadow p-2">
    <h2>Pin: <%= @game.pin %></h2>
    <% if @game.game_state == GameState::CREATED %>
      <div
        data-controller="content-loader"
        data-content-loader-url="<%= players_game_path %>"
        data-content-loader-refresh-interval="5000"
      >
        Loading Players...
      </div>
    <% else %>
      <%= render 'games/players', game: @game %>
    <% end %>
  </div>
  <br>
  <% if @game.game_state == GameState::CREATED %>
    <button class="btn btn-primary" data-reflex="click->Game#start" data-game-id="<%=  @game.id %>">Start</button>
  <% end %>
  <% if @game.game_state == GameState::QUESTION_PLAY %>
    <button class="btn btn-primary" data-reflex="click->Game#show" data-game-id="<%=  @game.id %>">Show Answer</button>
  <% end %>
  <% if @game.game_state == GameState::QUESTION_ANSWER %>
    <button class="btn btn-primary" data-reflex="click->Game#bonus" data-game-id="<%=  @game.id %>">Play Bonus</button>
  <% end %>
  <% if @game.game_state == GameState::QUESTION_BONUS %>
    <button class="btn btn-primary" data-reflex="click->Game#leaderboard" data-game-id="<%=  @game.id %>">Show LeaderBoard</button>
  <% end %>
  <% if @game.game_state == GameState::QUESTION_TABLE %>
    <button class="btn btn-primary" data-reflex="click->Game#start" data-game-id="<%=  @game.id %>">Next Question</button>
  <% end %>
</div>